name: Publish

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The new version'
        required: true
        type: text
        
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: node_modules-
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn version --new-version "${{ github.event.release.tag_name || inputs.version }}" --no-git-tag-version
      - run: yarn pack --filename package.tgz
      - run: yarn publish package.tgz --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: https://npm.pkg.github.com/
          scope: '@tobiastengler'
      - run: yarn publish package.tgz
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - uses: actions/upload-artifact@v2
        with:
          name: package
          path: package.tgz
